canvas {
  border: 1px solid #333;
} 

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #202025;
}

div#webcam_holder {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 320px;
  height: 300px;
  rotate: 10deg;
}

div#webcam_holder p {
  color: white;
  top: -50px;
  left: 10px;
  position: relative;

}

video#webcam {
  opacity: 0.8;
  width: 320px;
}